.auth-page {
  position: relative;

  &__logo {
    margin-bottom: 56px;
    height: 42px;

    @include tablet-xl {
      margin-bottom: 40px;
      height: 52px;
    }

    @include desktop-xl {
      height: 64px;
    }
  }

  &__wrapper {
    display: flex;
    overflow-x: hidden;
    padding: 40px 0;
    height: 100vh; /* ie11 fallback */
    height: calc(var(--vh, 1vh) * 100);
    font-size: 17px;
    line-height: 1.1;

    @include tablet-xl {
      font-size: 20px;
      line-height: 1.4;
      background-image: none;
    }

    @include desktop-xl {
      font-size: 26px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
    color: var(--color-black);

    @include tablet-xl {
      font-size: 32px;
    }

    @include desktop-xl {
      margin-bottom: 16px;
      font-size: 45px;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: inherit;
  }

  &__inner {
    position: relative;
    margin: auto;
    padding: 0 24px;
    width: 100%;
    max-width: 424px;

    @include tablet-xl {
      position: relative;
      margin: auto;
      border-radius: 40px;
      padding: 48px 80px;
      width: 100%;
      max-width: 550px;
      box-shadow: 1px 4px 25px rgb(95 108 114 / 20%);
      font-size: 20px;
      line-height: 1.15;
      background-color: var(--color-white);
    }

    @include desktop-xl {
      padding: 72px 130px 80px;
      max-width: 772px;
    }
  }

  &__input {
    & + & {
      margin-top: 16px;

      @include tablet-xl {
        margin-top: 8px;
      }

      @include desktop-xl {
        margin-top: 24px;
      }
    }
  }

  &__form {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.1;

    @include tablet-xl {
      font-size: 17px;
      line-height: 1.4;
    }

    @include desktop-xl {
      font-size: 20px;
    }
  }

  &__forget-link {
    display: block;
    margin-top: 16px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: right;
    text-decoration: none;
    color: inherit;
  }

  &__button-box {
    margin-top: 48px;

    @include tablet-xl {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
    }

    @include desktop-xl {
      margin-top: 16px;
    }
  }

  &__result-message {
    margin-top: 16px;
    min-height: 32px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    color: var(--color-error);

    @include desktop-xl {
      margin-top: 40px;
      min-height: 56px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
}
