.change-password-page {
  $this: &;

  &__inner {
    position: relative;
  }

  &__tooltip {
    position: absolute;
    top: calc(100% + 10px);
    padding: 16px;
    width: 100%;
    box-shadow: 0 4px 14px rgb(0 0 0 / 15%);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    background-color: var(--color-white);

    @include tablet-xl {
      left: calc(100% + 12px);
      top: 10px;
      max-width: 277px;
    }

    @include desktop-xl {
      max-width: 367px;
    }
  }

  &__validation-item {
    display: flex;
    align-items: center;

    &--valid {
      text-decoration: line-through;

      #{$this}__checkbox {
        border-color: #1ed400;
      }
    }
  }

  &__checkbox {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid #838383;
    border-radius: 50%;
    width: 13px;
    height: 13px;

    @include desktop-xl {
      margin-right: 16px;
      width: 13px;
      height: 13px;
    }
  }

  &__checkmark {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background-color: #1ed400;

    &::before {
      content: "";
      position: absolute;
      left: -2px;
      top: 2px;
      display: inline-block;
      margin: 4px;
      width: 4px;
      height: 2px;
      background-color: var(--color-white);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      display: inline-block;
      margin: 4px;
      width: 6px;
      height: 2px;
      background-color: var(--color-white);
      transform: rotate(-45deg);
    }
  }
}
